// --- Bootstrap Theme Colors --- //
//
$primary: #6571ff !default;
$secondary: #7987a1 !default;
$success: #05a34a !default;
$info: #66d1d1 !default;
$warning: #fbbc06 !default;
$danger: #ff3366 !default;
$light: #e9ecef !default;
$dark: #060c17 !default;
$black: #000 !default;
//
// --- Bootstrap Theme Colors --- //

// Social colors
$social-colors: (
    "facebook": #3b5998,
    "twitter": #1da1f2,
    "google": #dc4e41,
    "youtube": #f00,
    "vimeo": #1ab7ea,
    "dribbble": #ea4c89,
    "github": #181717,
    "instagram": #e4405f,
    "pinterest": #bd081c,
    "flickr": #0063dc,
    "bitbucket": #0052cc,
    "linkedin": #0077b5,
) !default;

// Font family
$font-family-sans-serif: "Roboto", Helvetica, sans-serif !default;

$font-size-base: 0.875rem !default; // 14px
$font-size-lg: 1rem !default; // 16px
$font-size-sm: 0.812rem !default; // 13px

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: 700 !default;
$font-weight-boldest: 900 !default;

$font-weight-base: $font-weight-normal !default;

// Cards
$card-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2); // custom variable
$card-spacer-y: 1.5rem !default;
$card-spacer-x: 1.5rem !default;
$card-title-spacer-y: 0.875rem !default;
$card-border-color: #f2f4f9 !default;
$card-cap-padding-y: 0.875rem !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, 0.01) !default;
