// Cards

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    .card-body {
        + .card-body {
            padding-top: 1rem;
        }
    }
    .card-title {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.card-group {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    .card {
        box-shadow: none;
    }
}
